@font-face {
font-family: 'scriptin';
src : url(../font/scriptin/scriptin.ttf);
}
html {
  background-color: #f8f8f8;
  font-size: 13px;
}
img {
  object-fit: cover;
}
.ini-img-custom{
  height: 170px !important;
  width:100%;
}
.uk-description-list dt{
  font-weight: bold;
}
.uk-navbar-nav li a{
  font-size: 16px !important;
  font-family: unset;
}
.uk-container {
  padding-left: 200px;
  padding-right: 200px;
}
.ini-navmenu{
  margin-bottom: 30px;
}
.ini-mainbody{
  margin-bottom: 40px;
}
.ini-footer{
  padding-top: 20px;
  height: auto;
  background-color: #4a4a4a;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}
.ini-para p {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ini-lates-desc{
  max-width: 550px;
  margin-bottom: 50px;
}
.ini-navbar-little li a{
  font-size : small;
}
.uk-description-list dt{
  margin-bottom: 5px;
}
.ini-about-time{
  margin-left: -250px;
  margin-right: -250px;
}
.ini-about-time li a{
  height: 90px;padding-top: 10px;
  background-color: grey;
}
.ini-about-time li{
  margin-top: 0px !important;
}
.ini-about-time li div{
  padding-bottom:20px;
  /* margin-top: 0px !important; */
}
.uk-accordion-title{
  background: #404141;
  padding-top: 20px;
  color: white;
}
.uk-accordion > :nth-child(n+2){
  margin-top: 0;
}
.uk-button-text::before{
  border-bottom: 1px solid #C8932C;
}
.sct-main-button{
  background-color: #febd14;
  color: #fff;
  border: 1px solid transparent;
}
.sct-main-button:hover{
  background-color: #ffb400;
}
.sct-left-menu{
  position: fixed;
height: 100%;
}
.sct-background{
  height: 100%;
  background: url(../images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: fixed;
  opacity: 0.7;
  z-index: -1
}
.sct-center-page{
  margin-top:75%;
}
#ini-header-id .uk-background-cover {
  height: 400px;
  background-position: top;
}
#ini-header-id a {
  margin-bottom : -15px;
  margin-right: 5px;
}
#ini-descrip{
  margin-top: 20px;
}
#ini-descrip dd{
  padding-top: 20px;
}
#ini-load-more{
  padding-top: 50px;
}
#sct-custom-nav{
  height: 100%;
  position: fixed;
  bottom: 0;
}
